
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/SFCCAsset.iml
/.idea/vcs.xml
